
    $mainColor:#24353f;
    $textColor:#17a2b8;

::placeholder
{
    color: rgba(248, 238, 232, 0.8);
    font-size: 17px;
    font-weight: 100;
}
body{
    background-color: $mainColor;
}
h1{
    color: $textColor;
}
.content{
    background-color: $mainColor;
    box-shadow: 1px 1px 30px 2px black;
    input{
        font-size: 1.2rem;
        background-color: $mainColor;
        border: 1px solid rgba(248, 238, 232, 0.8);; 
    }

    label{
        font-size: 1.1rem;
    }
    
}

.navbar{
    background-color: $mainColor;
    box-shadow: 1px 1px 30px 2px black;
    .nav-link{
        color: rgb(138, 137, 137);
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-toggler {
        &:hover{
            background-color:$mainColor;
        }
        color: rgba(255, 255, 255, 0.55);
        border-color: rgba(255, 255, 255, 0.1);
    }
    
}
button{

    &:hover{
        background-color: $textColor;
        color: white;
    }
    background-color: $mainColor;
    border: 1px solid $textColor;
    color: $textColor;
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    font-size: 1.1rem;
}
.deco:hover{
    text-decoration: underline;
}



.container{
    height: 100%;
}
.test{
    padding: 50px 0px;

    i{
        color: #FB063D;
        font-size: 20px;
    }
    .bgplugin{
        background-color:#3450A1;
    }
    .item{
        background-color: #2f4f4f;
        height: 60px;
        color: white;
        border-start-end-radius: 20px;
        border-end-end-radius: 20px;
    }
    
    .icon,.icon3{
        background-color: #0f1118;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        height: 60px;
    }
    .icon2{
        background-color: #0f1118;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 60px;
    }
    .icon3 i{
        color: #7184bee1;
    }
    .input{
        &:focus{
            background-color: #2f4f4f;
        }
        padding: 14px;
        background-color: #2f4f4f;
        border: none;
        border-radius: 20px;
    }
    #button {
        i{
            color: #fff;
        }
        position: absolute;
        background-color: $mainColor;
        top: 7px;
        right:18px;
        border-radius: 50%;
    }
    .check{
        color: #7184bee1;
    }
    #deletebtn{
        cursor: pointer;
    }
    .line-decoration{
        text-decoration: line-through 4px black;
        background-color: #5C76BD;
    }
    

}
